<div class="relative">
  <div class="flex xl:hidden">
    <div class="h-9 w-9 rounded-full bg-teal-400 text-teal-400">.</div>
    <div class="ml-2 text-4xl font-bold">bookmarks</div>
  </div>
  <div id="desktop" class="mt-20 hidden xl:block">
    <div class="mb-8 mt-28 border-b-[1px] border-solid border-slate-200 pb-2 ">Browse by</div>
    <%= render "bookmark_grid", spots: @bookmarks %>
  </div>
  <div id="mobile" class= "mt-6 xl:hidden">
    <% @bookmarks.each do |bookmark| %>
      <%= link_to spot_path(bookmark.spot) do %>
        <div class="mb-8 mt-4">
          <%= render "shared/card_spot_bookmark", bookmark: bookmark, spot: bookmark.spot %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
