<div class="relative">
  <div class="flex">
    <div class="h-9 w-9 rounded-full bg-teal-400 text-teal-400">.</div>
    <div class="ml-2 text-4xl font-bold">Bookmarks</div>
  </div>

    <div class= "mt-6">
        <% @bookmarks.each do |bookmark| %>
          <%= link_to spot_path(bookmark.spot) do %>
            <div class="mb-8 mt-4">
              <%= render "shared/card_spot_bookmark", bookmark: bookmark, spot: bookmark.spot %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
