<%= turbo_frame_tag "modal" do %>
  <div
    class="fixed inset-0 z-40 overflow-y-auto"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div
      class="
        flex min-h-screen w-full items-end justify-center p-0 px-4 pb-16 pt-4
        text-center
      "
    >
      <div
        class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        aria-hidden="true"
      ></div>
      <span
        class="hidden sm:inline-block sm:h-screen sm:align-middle"
        aria-hidden="true"
      >&#8203;</span>
      <div
        class="
          -mx-4 mb-28 inline-block w-full transform overflow-hidden rounded-xl bg-white
          px-4 pb-4 pt-5 text-left align-bottom shadow-xl transition-all
        "
      >

        <div class="flex justify-between">
    <%= simple_form_for(@categories).each do |f| %>
      <%= f.input :category.name, as: :check_boxes %>
    <% end %>
      </div>
    </div>
  </div>
<% end %>
