<div
  class="
    no-scrollbar -mx-4 my-4 inline-flex w-screen flex-nowrap overflow-x-auto 
  "
>
  <div class="ml-4 flex">
    <% 10.times do |spot| %>
      <%= link_to () do %>
        <%= render "shared/card_event" %>
      <% end %>
    <% end %>
  </div>
</div>

