<div class="w-bigcardwidth my-4 rounded-xl border border-slate-300 p-4">
  <p><%= review.content %></p>
  <div class="my-2 flex">
    <!-- star rating -->
    <% review.rating.times do %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="size-3"
      >
        <path
          fill-rule="evenodd"
          d="M8 1.75a.75.75 0 0 1 .692.462l1.41 3.393 3.664.293a.75.75 0 0 1 .428 1.317l-2.791 2.39.853 3.575a.75.75 0 0 1-1.12.814L7.998 12.08l-3.135 1.915a.75.75 0 0 1-1.12-.814l.852-3.574-2.79-2.39a.75.75 0 0 1 .427-1.318l3.663-.293 1.41-3.393A.75.75 0 0 1 8 1.75Z"
          clip-rule="evenodd"
        />
      </svg>
    <% end %>
  </div>
  <div class="flex items-center font-light text-slate-500">
    <div class="flex w-full items-center justify-between">
      <p><%= review.created_at.strftime('%d. %b %Y') %></p>
      <div class="flex items-center">
        <div class="mr-1"><%= review.user.username %></div>
        <div class="size-8 rounded-full ring-2 ring-white">
          <%= cl_image_tag(review.user.photo.key, class: "h-full w-full rounded-full") %>
        </div>
      </div>
    </div>
  </div>
</div>
