<div
  class="
    no-scrollbar -mx-4 inline-flex w-screen snap-x flex-nowrap overflow-x-auto
  "
>
  <div class="ml-4 flex">
    <% reviews.each do |review| %>
      <div class="ml-2">
        <%= render "shared/review", review: review %>
      </div>
    <% end %>
  </div>
</div>
