<div class="my-4 hidden grid-cols-4 gap-8 gap-y-12 xl:grid 2xl:grid-cols-5" >
  <% spots[0..12].sort_by(&:name).each do |spot| %>
      <%= render "spots/desktop_card_spot", spot: spot %>
  <% end %>
  <% spots[0..20].sort_by(&:name).each do |spot| %>
      <%= render "spots/desktop_card_spot", spot: spot %>
  <% end %>
  <% spots[0..20].sort_by(&:name).each do |spot| %>
      <%= render "spots/desktop_card_spot", spot: spot %>
  <% end %>
</div>
