<div
  class="fixed inset-0 z-50 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="
      flex min-h-screen w-full items-end justify-center p-0 px-4 pb-16 pt-4
      text-center
    "
  >
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>
    <span
      class="hidden sm:inline-block sm:h-screen sm:align-middle"
      aria-hidden="true"
    >&#8203;</span>
    <div
      class="
        -mx-4 mb-28 inline-block w-full transform overflow-hidden rounded-xl bg-white
        px-4 py-4 text-left align-bottom shadow-xl transition-all
      "
    >
      <div>
        <%= simple_form_for @experience do |f| %>
          <div class="flex justify-between">
            <p class="font-bold">Cancel</p>
            <%= button_tag(type: 'submit', class: "font-bold text-teal-400") do %>
              Submit
            <% end %>
          </div>
          <%= f.input :name,
                  placeholder: "Give you experience a name",
                  label: false,
                  input_html: {
                    class:
                      "border-slate-300 text-wrap shadow-md px-4 py-2 my-4 focus:border-none focus:ring-2 focus:ring-teal-400 rounded-xl w-full",
                  } %>
          <%= f.text_area :description,
                      placeholder: "Describe your experience...",
                      class:
                        "border-slate-300 text-wrap h-40 shadow-md px-4 py-2 my-4 focus:border-none focus:ring-2 focus:ring-teal-400 rounded-xl w-full" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
