<h1>Update your experience</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: 'Cool hangout in the city.' %>
    <%= f.input :description %>
    <%= f.submit class: 'btn btn-flat' %>
    <% end %>
