<!--HEADER-->
<div class="relative">
  <div class="mt-8 flex justify-between items-center">
  <div class="flex">
    <div class="h-9 w-9 rounded-full bg-teal-400 text-teal-400">.</div>
    <div class="ml-2 text-4xl font-bold flex">experience</div>
  </div>
    <%= link_to new_experience_path(@experiences) do %>
    <div class= "flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-slate-400">
   <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
  </svg>
    </div>
  <% end %>
  </div>

<div class="sticky top-0 z-10 bg-white pb-4 pt-8">

<!--SEARCHBAR-->

  <%= render "spots/searchbar" %>

  <!--EXPERIENCES-->


<%= render "shared/experience_index"%>
</div>
