<div id="desktop" class="hidden xl:block">
  <div class="mb-8 mt-28 border-b-[1px] border-solid border-slate-200 pb-2 ">Browse by</div>
  <% @experiences.each do |experience| %>
    <%= render "shared/experience", experience: experience %>
  <% end %>
</div>
<div id="mobile" class="xl:hidden">

  <!--HEADER-->
  <div class="mt-8 flex items-center justify-between">
    <div class="flex">
      <div class="h-9 w-9 rounded-full bg-teal-400 text-teal-400">.</div>
      <div class="ml-2 flex text-4xl font-bold">experiences</div>
    </div>
  </div>

  <%= link_to new_experience_path(@experiences), class: "xl:hidden" do %>
    <div class="mb-2 mt-6 border-b-2 border-gray-100 pb-6">
      <%= render "shared/button_primary", text: "Add an experience" %>
    </div>
  <% end %>

  <div class="divide-y-2 divide-gray-100">
    <% @experiences.each do |experience| %>
      <%= render "shared/experience", experience: experience %>
    <% end %>
  </div>
</div>
