<div class="my-7 text-2xl font-bold">
  <h1>Create a new experience</h1>
</div>
<div class="my-7 text-xl font-bold">
  <%= simple_form_for(@experience) do |f| %>
  <div class="my-4">
    <%= f.input :name, placeholder: 'name', label:false, input_html: { class: 'rounded-lg w-full border-slate-300' } %>
  </div>
  <div class="my-4">
    <%= f.input :description, placeholder: "description", label:false, input_html: { class: 'rounded-lg w-full border-slate-300' }%>
  </div>
    <div class="my-4">
    <%= f.submit 'create experience', class: 'btn btn-flat w-full h-11 flex items-center justify-center rounded-xl border-teal-400 bg-teal-400 font-bold text-white cursor-pointer' %>
  </div>
  <% end %>
</div>
