// .mapboxgl-popup {
//   max-width: 200px;
// }

.mapboxgl-popup-content {
  padding: 13px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background: #defff6;
}

.mapboxgl-popup-close-button {
  padding-right: 4px;
  border: none;
 }

#index.mapboxgl-map {
  height: 250px;
}

// .mapboxgl-canvas-container {
//   height: 560px;
//   position: relative;
//   .mapboxgl-canvas {
//     height: 100%;
//     position: absolute;
//     width: 100%;
//     top: 0;
//     bottom: 0;
//   }
// }

// .mapboxgl-canvas {
//   height: 560px !important;
//   // object-fit: cover;
//  }
// .marker {
//   background-image: url('mapbox-icon.png');
//   background-size: cover;
//   width: 100px;
//   height: 100px;
//   border-radius: 50%;
//   cursor: pointer;
// }

.mapboxgl-ctrl-top-right, .mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  z-index: 0 !important;
}
