// .mapboxgl-popup {
//   max-width: 200px;
// }

.mapboxgl-popup-content {
  padding: 13px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background: #f1deff;
}

.mapboxgl-popup-close-button {
  padding-right: 4px;
  border: none;
 }

 #index.mapboxgl-map {
  height: 558px;
 }

// .marker {
//   background-image: url('mapbox-icon.png');
//   background-size: cover;
//   width: 100px;
//   height: 100px;
//   border-radius: 50%;
//   cursor: pointer;
// }

.mapboxgl-ctrl-top-right, .mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  z-index: 0 !important;
}
